<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/spring_tut?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Innover@2024</property>
        
        <!-- Connection Pool Size -->
        <property name="hibernate.connection.pool_size">1</property>
        
        <!-- Session Context -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Mapping file -->
        <mapping resource="employee.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
